.DS_Store

# Cargo runtime files & binaries
cargo/.cargo/bin/
cargo/.cargo/binstall/
cargo/.cargo/binstall.toml
cargo/.cargo/.crates.toml
cargo/.cargo/.crates2.json
cargo/.cargo/registry/
cargo/.cargo/git/
cargo/.cargo/.global-cache
cargo/.cargo/.package-cache*

# Local Ansible Galaxy collections and roles cache
.ansible/

# Local secret files & Machine-specific envs
token
*.local
.zshenv.local
