// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:caps_toggle"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        dwt
        drag-lock
        click-method "clickfinger"
        accel-profile "adaptive"
        accel-speed 0.9
    }

    mouse {
        // accel-profile "flat"
        // accel-speed 0.0
    }

    focus-follows-mouse
    workspace-auto-back-and-forth
}